%h1 los_angeles_tr.haml
%p Some Tentative Rulings from a Department on a Specific Day
=params['trfile']

-trfile = '2024_06_03_BH__207.html'
-html_s = "https://jffjorg.github.io/lacourt/htmls/#{params['trfile']}"
%iframe(src=html_s)

