%h1 Los Angeles County
%p Some Tentative Rulings from a Department for a Specific Day of Court Hearings

-html_s = "https://jffjorg.github.io/lacourt/htmls/#{params['trfile']}"
%a(target="po" href=html_s) PopOut: #{params['trfile']}
%iframe(src=html_s width="100%" height="900px")

