%h1 Los Angeles
- mmonth_s = params["mmonth"]
%a(href='/counties/listem') Counties -> 
%a(href='/counties/los_angeles') Los Angeles ->
Los Angeles #{mmonth_s}
%p Some Tentative Rulings from Los Angeles County During a Specific Month.

%ul
  - @html_f_s_a.each do |html_f_s|
    %li
      %a(target="t10" href="/counties/los_angeles_tr/#{html_f_s}") #{html_f_s}

