%a(href='/') LegalExamples.com
|
%a(href='/about')   About
%a(href='/blog')    Blog
%a(href='/contact') Contact
%a(href='/doctype') Legal Examples
%a(href='/tech') Tech
%a(href='/counties/listem') Counties
%br/
